extends layout

block content
    h1 Server Error
    h2 Sorry! There was an error on the server.
    a.button(href='/') Go Home
    //- h1= message
    //- h2= error.status
    //- pre #{error.stack}
